@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

:root{
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(270, 3%, 87%);
    --color-dark-gray: hsl(279, 6%, 55%);
    --color-dark-violet: hsl(278, 68%, 11%);
}

body{
    background-color: var(--color-white);
    color: var(--color-dark-violet);
    line-height: 1.4;
}

.wrapper {
    background-image: url("../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    padding-bottom: 2rem;
    min-height: 100vh;
}

.card{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card img{
    display: block;
    max-width: 100%;
    height: auto;
}

.card-front {
    align-self: start;       
    max-width: 85%;
    order: 2;
    margin-top: -4rem;      
    position: relative;
    z-index: 1;
}

.card-back{
    align-self: end;      
    max-width: 85%;
    order: 1;
    position: relative;
}

.card-back-data{
    background-color: rgba(40,69,40,.8);
    position: absolute;
    inset: 0;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 12%;
    padding-bottom: .5rem;
    font-size: 0.75rem;
}

.card-back-data img{
    max-width: 2rem;
}

.card-front-data{
    position: absolute;
    inset: 0;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
}

.card-front-data > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.card-front-data img{
    max-width: 3.5rem;
}

.card-number{
    letter-spacing: 2px;
    font-size: 1.1rem; 
}

.card-name-date{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.65rem;
}

/* FORMULARIO */
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-top: 0;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group.double{
    flex-direction: row;
    gap: 1rem;
}

.form-group.double > * {
    width: 50%;
}

.columns{
    display: flex;
    gap: 0.5rem;
}

.columns input{
    width: 100%;
}

.rows{
    display: flex;
    flex-direction: column;
}

.input{
    border: 1px solid var(--color-light-gray);
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.input::placeholder{
    color: var(--color-light-gray);
}

.label{
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: var(--color-dark-violet);
    margin-bottom: 0.25rem;
}

button,.button{
    background-color: var(--color-dark-violet);
    color: var(--color-white);
    font-size: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0;
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.thank-you-tittle,
.thank-you-title {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
}

.thank-you-text{
    color: var(--color-dark-gray);
}

.thank-you button,#button-next,#continue {
    width: 90%;
}

.disabled{
    display: none;
}

/* RESPONSIVE */
@media screen and (min-width: 800px) {

    .wrapper {
        background-image: url("../images/bg-main-desktop.png");
        background-position: left;
        background-size: auto 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 100vh;
    }

    .card{
        padding-inline: 6rem;
        gap: 2rem;
        justify-content: center;
    }

    .card-front{
        order: 1;
        margin-top: 0;
        width: 18rem;
        max-width: unset;
    }

    .card-back{
        order: 2;
        width: 18rem;
        max-width: unset;
    }

    .form-wrapper{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-right: auto;
    }

    .form{
        width: 25rem;
        max-width: 100%;
    }

    .thank-you{
        width: 25rem;
    }
}
